page-menu {
    .hide-card {
        -webkit-box-shadow: none!important;
      }
      
      .custom-avatar {       
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
     
}
